.section {
  padding: 60px 0;
}

@media screen and (max-width: 767px) {
  .section__title {
    margin-bottom: 30px;

    @include font(28px, 700, 33px);

    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 94px 0;

    &__title {
      margin-bottom: 50px;

      @include font(36px, 700, 42px);

      text-align: center;
    }
  }
}
